.friends-screen {
  padding: 0px var(--horizontal-space);
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons a {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}

.screen-header-transform-link :last-child {
  font-weight: 500;
}

.screen-header-transform-link__span {
  background-color: white;
  display: flex;
  width: 11px;
  height: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.screen-header__icons > a > span {
  right: -8px;
  bottom: 20px;
}
